option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
    NodeVersion: 16.20.0
    ProxyServer: nginx
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    MONGODB_URI: mongodb+srv://Surajdas14:Namrup.8486915664@cluster0.jqsjk.mongodb.net/easybus?retryWrites=true&w=majority
    JWT_SECRET: easybus-jwt-secret-key-2025-03-12
    REFRESH_TOKEN_SECRET: easybus-refresh-token-secret-key-2025-03-12
    CORS_ORIGIN: http://easybus.review.in.net
    ADMIN_EMAIL: admin@easybus.com
    ADMIN_PASSWORD: Admin@123
    EMAIL_HOST: mail.tileo.shop
    EMAIL_PORT: 465
    EMAIL_USER: create_account@tileo.shop
    EMAIL_PASS: Namrup@8486915664
    EMAIL_FROM: create_account@tileo.shop
